<div class="ball-wrapper text-center">
  <div class="ball <%= size %> <%= variant %>"
       <% if tooltip %>data-bs-toggle="tooltip" data-bs-placement="top" title="<%= tooltip %>"<% end %>>
    <span class="ball__number"><%= number %></span>
  </div>
  <% if show_frequency && frequency %>
    <div class="ball__frequency small text-muted"><%= frequency %>x</div>
  <% end %>
</div>
