<div class="star-wrapper text-center">
  <div class="star <%= size %> <%= variant %>"
       <% if tooltip %>data-bs-toggle="tooltip" data-bs-placement="top" title="<%= tooltip %>"<% end %>>
    <span class="star__icon">★</span>
    <span class="star__number"><%= number %></span>
  </div>
  <% if show_frequency && frequency %>
    <div class="star__frequency small text-muted"><%= frequency %>x</div>
  <% end %>
</div>
