<% num_frequencies = Hash.new %>
<% star_frequencies = Hash.new %>
<% i = 0 %>
<% j = 0 %>
<% 50.times do %>
  <% num_frequencies[i + 1] = 0 %>
  <% i += 1 %>
<% end %>
<% 12.times do %>
  <% star_frequencies[j + 1] = 0 %>
  <% j += 1 %>
<% end %>
<% @array_of_tiragearrays.sort.each do |_, chiffre1, chiffre2, chiffre3, chiffre4, chiffre5, star1, star2, _| %>
  <% num_frequencies[chiffre1] ? num_frequencies[chiffre1] += 1 : num_frequencies[chiffre1] = 1 %>
  <% num_frequencies[chiffre2] ? num_frequencies[chiffre2] += 1 : num_frequencies[chiffre2] = 1 %>
  <% num_frequencies[chiffre3] ? num_frequencies[chiffre3] += 1 : num_frequencies[chiffre3] = 1 %>
  <% num_frequencies[chiffre4] ? num_frequencies[chiffre4] += 1 : num_frequencies[chiffre4] = 1 %>
  <% num_frequencies[chiffre5] ? num_frequencies[chiffre5] += 1 : num_frequencies[chiffre5] = 1 %>
  <% star_frequencies[star1] ? star_frequencies[star1] += 1 : star_frequencies[star1] = 1 %>
  <% star_frequencies[star2] ? star_frequencies[star2] += 1 : star_frequencies[star2] = 1 %>
<% end %>
<% concatenated_num_freq = Hash.new %>
<% concatenated_star_freq = Hash.new %>
<% num_frequencies.each { |key, value| concatenated_num_freq[value] = [] } %>
<% num_frequencies.each { |key, value| concatenated_num_freq[value] << key } %>
<% star_frequencies.each { |key, value| concatenated_star_freq[value] = [] } %>
<% star_frequencies.each { |key, value| concatenated_star_freq[value] << key } %>

<% (concatenated_num_freq.sort_by { |key, value| key }).reverse.each do |elem| %>
  <% if (elem[1].length > 1) %>
    <p>Les chiffres <%= elem[1].sort.join(', ') %> sont sortis <%= elem[0] %> fois</p>
  <% else %>
    <p>Le chiffre <%= elem[1][0] %> est sorti <%= elem[0] %> fois</p>
  <% end %>
<% end %>

<% (concatenated_star_freq.sort_by { |key, value| key }).reverse.each do |elem| %>
  <% if (elem[1].length > 1) %>
    <p>Les étoiles<i class="fas fa-star"></i> <%= elem[1].sort.join(', ') %> sont sorties <%= elem[0] %> fois</p>
  <% else %>
    <p>L'étoile<i class="fas fa-star"></i> <%= elem[1][0] %> est sortie <%= elem[0] %> fois</p>
  <% end %>
<% end %>
