<div class="row">
  <div class="col-12">

    <h1>EuroMillions stats</h1>
    <ul>
      <li><strong><%= @draw_count %></strong> tirages</li>
      <li><strong><%= @won_draw_count %></strong> gagnés (<%= @won_draw_percentage %>%)</li>
      <li><strong><%= @winners_count %></strong> gagnants</li>
    </ul>
    <%= link_to 'Tous les résultats', draws_path %>
    <%= link_to 'Fréquences', frequencies_draws_path %>
  </div>
</div>

