<h1>Bienvenue sur EuroMillions Tool</h1>
<% nb_de_gagnants = 0 %>
<% Tirage.where(won_by: (1..100).to_a).each { |winner| nb_de_gagnants += winner.won_by } %>
<h3><%= Tirage.count %> tirages depuis le début de l'Euromillion <br>
    dont <%= Tirage.where(won_by: (1..100).to_a).count %> ont été gagnés <br>
    par <%= nb_de_gagnants%> personnes</h3>
<%= link_to 'Résultats et statistiques par années', index_per_year_path %>
<%= link_to 'Fréquences', frequencies_path %>
<%= link_to 'Populate DataBase', populate_path %>
